<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title>{{data.name}}</mat-card-title>
    <mat-card-subtitle>{{data.category}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{data.description}}
    </p>
    <p>{{data.price}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button *ngIf='!data?.inCart' (click)='onBuy()'>
      <mat-icon color='primary'>add_shopping_cart</mat-icon>
    </button>
    <mat-icon color='primary' *ngIf='data?.inCart'>check_circle</mat-icon>
  </mat-card-actions>
</mat-card>
